<div class="mx-auto container max-width-500">
  <%= render 'shared/form_errors', object: @decision %>
  <%= form_for :decision do |f| %>
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_field :description, placeholder: "Decision Text", required: "true", class: "form-control" %>
    </div>
    <%= f.hidden_field :contract_id, :value => @decision.contract_id %>
    <% if @decision %> <%= f.hidden_field :id, :value => @decision.id %> <%end%>
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", @decision.contract.path, :class => "btn btn-danger"%>
  <% end %>
</div>
