<%if @decisions%>
  <%=render partial: 'decisions/table'%>
  <%@decisions.each do |decision|%>
    <div class="data-row col-xs-10 col-xs-offset-1 col-xs-offset-right-1">
      <div class="col-xs-2"><%=link_to decision.description, new_answers_path(:decision_id => decision.id), class: "text-center"%></div>
      <%if decision.answers%>
          <div class="col-xs-2"><%=Answer.find_all_names("Explain", decision.id)%></div>
          <div class="col-xs-2"><%=Answer.find_all_names("Consult", decision.id)%></div>
          <div class="col-xs-2"><%=Answer.find_all_names("Agree", decision.id)%></div>
          <div class="col-xs-2"><%=Answer.find_all_names("Advise", decision.id)%></div>
          <div class="col-xs-2"><%=Answer.find_all_names("Inquire", decision.id)%></div>
      <%end%>
    </div>
  <%end%>
<%end%>
