<div class="row" style="border-bottom: 1px solid black">
  <div class="col-xs-2">Decisions</div>
  <div class="col-xs-2">Explain</div>
  <div class="col-xs-2">Consult</div>
  <div class="col-xs-2">Agree</div>
  <div class="col-xs-2">Advise</div>
  <div class="col-xs-2">Inquire</div>
</div>

<%if @decisions%>
  <%@decisions.each do |decision|%>
    <div class="row">
      <div class="col-xs-2"><%=link_to decision.description, new_answers_path(:decision_id => decision.id), class: "text-center"%></div>
      <%if decision.answers%>
          <div class="col-xs-2"><%=Answer.find_all_names("Explain", decision.id)%></div>
          <div class="col-xs-2"><%=Answer.find_all_names("Consult", decision.id)%></div>
          <div class="col-xs-2"><%=Answer.find_all_names("Agree", decision.id)%></div>
          <div class="col-xs-2"><%=Answer.find_all_names("Advise", decision.id)%></div>
          <div class="col-xs-2"><%=Answer.find_all_names("Inquire", decision.id)%></div>
      <%end%>
    </div>
  <%end%>
<%end%>
