<nobr>
  <p class="" id="link_text"><b>Link:</b> /contracts/<%=@contract.id%>/<%=@contract.link%>
    <button class="btn btn-xs clip" data-clipboard-text="localhost:3000/contracts/<%=@contract.id%>/<%=@contract.link%>">
      <%= image_tag("clippy.svg", size: "15x15")%>
    </button>
  </p>
</nobr>
