<!-- <nobr>
  <p>
    <span class="hidden-sm hidden-xs"><b>Team Link:</b>/contracts/<%=@contract.id%>/<%=@contract.link%></span>
    <span class="hidden-md hidden-lg hidden-xl"><b>Team Link</b></span> -->
    <!-- button to copy link -->
    <!-- <button class="btn btn-xs clip" data-clipboard-text="<%="#{request.protocol}#{request.host_with_port}"%>/contracts/<%=@contract.id%>/<%=@contract.link%>">
      <%= image_tag("clippy.svg", size: "15x15")%>
    </button>
  </p>
</nobr> -->

<a class="clip dropdown-item" data-clipboard-text="<%="#{request.protocol}#{request.host_with_port}"%>/contracts/<%=@contract.id%>/<%=@contract.link%>">
  Copy Collaborator Link
</a>
