<nobr>
  <p>
    <span class="hidden-sm hidden-xs"><b>Owner Link:</b>/contracts/<%=@contract.id%>/<%=@contract.owner_link%></span>
    <span class="hidden-md hidden-lg hidden-xl"><b>Owner Link</b></span>

    <button class="btn btn-xs clip" data-clipboard-text="<%="#{request.protocol}#{request.host_with_port}"%>/contracts/<%=@contract.id%>/<%=@contract.owner_link%>">
      <%= image_tag("clippy.svg", size: "15x15")%>
    </button>
  </p>
</nobr>
