<nobr>
  <p class="" id="link_text"><b>Owner Link:</b> /contracts/<%=@contract.id%>/<%=@contract.owner_link%>
    <button class="btn btn-xs clip" data-clipboard-text="localhost:3000/contracts/<%=@contract.id%>/<%=@contract.owner_link%>">
      <%= image_tag("clippy.svg", size: "15x15")%>
    </button>
  </p>
</nobr>
