<div class="contract_link_box grid-item">
  <div class="contract_card">

    <div class="contract_card_header">
      <p class="title_text">
        <a href="<%= "/contracts/#{@contract.id}/#{@contract.link}" %>">
          <%= @contract.title %>
        </a>
      </p>
      <p class="theme_text"><%= @contract.theme %></p>
      <hr>
    </div>

    <div class="contract_card_body">
      <p class="collaborators_text">On this contract:</p>
      <span class="user_list">
        <%= @contract.user_list(current_user) %>
      </span>
    </div>

    <hr>

    <div class="contract_card_footer">
      <div class="button_container">
          <% if @contract.complete %>
              <%= link_to "<i class='fa fa-lock' aria-hidden='true'></i>".html_safe, contracts_update_path(:id=>@contract.id, :link=>@contract.owner_link, :task=>"complete", :refresh => "false"), :method=>:post, :class=>"btn btn-primary unlock" %>
          <% else %>
            <%= link_to "<i class='fa fa-unlock-alt' aria-hidden='true'></i>".html_safe, contracts_update_path(:id=>@contract.id, :link=>@contract.owner_link, :task=>"complete", :refresh => "false"), :method=>:post, :class=>"btn btn-primary" %>
          <% end %>

          <% if @contract.reviewable %>
            <%= link_to "<i class='fa fa-users' aria-hidden='true'></i>".html_safe, contracts_update_path(:id=>@contract.id, :link=>@contract.owner_link, :task=>"review", :refresh => "false"), :method=>:post, :class=>"btn btn-primary" %>
          <% else %>
            <%= link_to "<i class='fa fa-user' aria-hidden='true'></i>".html_safe, contracts_update_path(:id=>@contract.id, :link=>@contract.owner_link, :task=>"review", :refresh => "false"), :method=>:post, :class=>"btn btn-primary" %>
          <% end %>

          <%= link_to "<i class='fa fa-trash-o' aria-label='Delete'></i>".html_safe, contracts_delete_path(:contract_id=>@contract.id ), :method => :delete, :class => "btn btn-danger", :data => {:confirm => 'Are you sure?'} %>
          <!-- <a class="btn btn-danger" href="path/to/settings" aria-label="Delete">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </a> -->
      </div>
    </div>

  </div>
</div>
