<% session[:contract_id] = @contract.id %>
<div class="container">
  <div class="row contract-header">
      <div class="col-sm-12 text-center">
        <h2><%= @contract.title %></h2>
        <p><%= @contract.theme %></p>
      </div>
      <% if @owner %>
        <%= render 'contracts/owner_buttons', :@contract => @contract %>
      <% else %>
        <%= render 'contracts/viewer_buttons', :@contract => @contract %>
      <% end %>
  </div>

  <% if @contract.decisions %>
      <%= render 'decisions/show', :@decisions => @contract.decisions.order('id'), :@user => current_user, :@owner => @owner, :@viewer => @viewer %>
  <% end %>

  <% if @viewer %>
    <h2 class="text-center" style="margin-top: 100px">Viewing Permissions Only.</h2>
  <% else %>
  <div class="text-center">
    <%= link_to "Add Decision", decisions_new_path(), :class => "btn btn-primary btn-lg"%>
  </div>
  <% end %>

</div>
