<div class="container">

  <div class="row contract-header">
    <div class="row">
      <!-- contract links  -->
      <div class="text-center col-sm-4">
        <%= render 'contracts/link' %>
        <% if @owner %> <%= render 'contracts/owner_link' %> <% end %>
      </div>
      <!-- contract title & theme -->
      <div class="col-sm-4 text-center"><h2><%= @contract.title %></h2><hr style="height:0pt; margin:0pt; visibility:hidden;" /><%= @contract.theme %></div>
      <!-- owner options (review & complete) -->
      <% if @owner %>
        <div class="button_container col-sm-4">
          <% @contract.reviewable ? @user_icon = "fa-users" : @user_icon = "fa-user" %>
          <% @contract.complete ? @lock_icon = "fa-lock" : @lock_icon = "fa-unlock-alt" %>
          <%= link_to "<i class='fa fa-2x btn btn-primary #{@user_icon}' aria-hidden='true', style='min-width: 56px;'></i>".html_safe, contracts_update_path(:id=>@contract.id, :link=>@contract.owner_link, :task=>"review"), :method=>:post  %>
          <%= link_to "<i class='fa fa-2x btn btn-primary #{@lock_icon}' aria-hidden='true', style='min-width: 56px;'></i>".html_safe, contracts_update_path(:id=>@contract.id, :link=>@contract.owner_link, :task=>"complete"), :method=>:post  %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- render decisions -->
  <% if @contract.decisions %>
      <%= render 'decisions/show', :@decisions => @contract.decisions.order('id'), :@user => current_user, :@owner => @owner %>
  <% end %>
  <!-- add decision button -->
  <button type="button" class="btn btn-primary btn-lg col-xs-4 col-xs-offset-4" data-toggle="modal" data-target="#newDecisionModal">Add Decision</button>
  <!-- modal for new decision  -->
  <div id="newDecisionModal" class="modal fade" role="dialog">
    <%= render 'decisions/new_modal', :@contract_id => @contract.id, :@decision => nil %>
  </div>
</div>

<% if @decision_error_messages %>
  <script>
    $(window).load(function(){
        $('#newDecisionModal').modal('show');
    });
  </script>
<% end %>
