<div class="login-page">
  <h2>Log in</h2>

  <%= form_for(:user, as: :user, url: user_session_path) do |f| %>
    <div class="field form-group">
      <%= f.label :email, class: "form-label" %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
    <div class="field form-group">
      <%= f.label :password, class: "form-label" %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
