<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Answer Decision</h4>
    </div>

    <div class="form">
      <%= form_for :answer, url: answers_path do |f| %>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <% if !session[:name] %>
              <%= f.label :name %>
              <%= f.text_field :name, class: "form-control"%>
            <%else%>
              <%= f.hidden_field :name, :value => session[:name] %>
            <% end %>
          </div>
        </div>
        <%= render partial: 'decisions/table' %>
        <div class="row col-xs-10 col-xs-offset-1 col-xs-offset-right-1">
          <div class="row">
            <div class="col-xs-2"><%= @decision.description %></div>
            <%Answer.types.each do |type|%>
              <div class="col-xs-2"><%= f.radio_button :answer,type, :checked => @decision.user_answer_type?(type, session[:name]) %></div>
            <%end%>
            <%= f.hidden_field :decision_id, :value => @decision.id %>
          </div>
        </div>
        <div class="text-right">
          <%= f.submit class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
