<h1 class="text-center">Answer Decision</h1>

<%= form_for :answer, url: answers_path do |f| %>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <% if !session[:name] %>
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control"%>
      <%else%>
        <%= f.hidden_field :name, :value => session[:name] %>
      <% end %>
    </div>
  </div>

  <%= render partial: 'decisions/table' %>

  <div class="row col-xs-10 col-xs-offset-1 col-xs-offset-right-1">
    <div class="col-xs-2"><%= @decision.description %></div>
    <%Answer.types.each do |type|%>
      <div class="col-xs-2"><%= f.radio_button :answer,type %></div>
    <%end%>
    <%= f.hidden_field :decision_id, :value => @decision.id %>
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
